.timeline-block-spacing-control {
	position: relative;
	display: inline-block;
}
	.timeline-block-spacing-control input[type="number"].cp-block-timeline-number_control,
	.timeline-block-spacing-control .cp-timeline-block_control__link {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #E6E7E9;
		color: #50575E;
		border-radius: 0;
		box-shadow: none !important;
		height: 30px;
		margin: 0 -1px 0 0;
		padding-right: 1px;
		width: 25%;
	}

	.timeline-block-spacing-control input[type="number"].cp-block-timeline-number_control:focus {
		z-index: 1;
		outline-offset: -1px;
		outline: 1px solid #CCCCCC;
	}

	.timeline-block-spacing-control .cp-timeline-block_control__link {
		border: 1px solid #959595;
		background-color: #959595;
		color: #FFFFFF;
		justify-content: center;
		display: flex;
		align-items: center;
		padding: 2px 0;
		font-size: 12px;
		line-height: 28px;
		cursor: pointer;
		transition: none;

	}
    .timeline-block-spacing-control .cp-timeline-block_control__link.timeline-block-spacing-control-disconnected {
        border-color: #E6E7E9;
        background-color: #FFFFFF;
        color: #959595;
    }

	.timeline-block-spacing-control .timeline-block-spacing-control__inputs > :first-child.cp-block-timeline-number_control {
		-webkit-border-radius: 3px 0 0 3px;
		-moz-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
	}

	.timeline-block-spacing-control .timeline-block-spacing-control__inputs > :last-child {
		-webkit-border-radius: 0 3px 3px 0;
		-moz-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
	}

	.timeline-block-spacing-control .timeline-block-control__actions .components-tab-panel__tabs {
		padding-right: 4px;
		margin-right: 0;
	}

	.timeline-block-spacing-control .timeline-block-spacing-control__inputs {
		display: flex;
	}

	.timeline-block-spacing-control .timeline-block-spacing-control__input-labels {
		display: flex;
		margin-bottom: -3px;       
	}
    .timeline-block-spacing-control .timeline-block-spacing-control__input-labels span {
        text-align: center;
        width: 20%;
    }
    .timeline-block-spacing-control .timeline-block-spacing-control__input-labels .cp-timeline-block_control__link-label {
        width: 10%;
    }

	.timeline-block-spacing-control .cp-block-timeline-number_control-label {
		color: #CCCCCC;
		display: block;
		font-size: 10px;
		margin-top: 5px;
	}
    .timeline-block-control__actions h2{
        display: inline-flex;
        margin-bottom: 1em;
    }
    .timeline-block-spacing-control .timeline-block-control__units{
        margin-left: auto;
    }