.ctl-instant-timeline.both-sided .timeline-content:nth-child(odd) .remove
{
  right:2px;
}
.ctl-instant-timeline.both-sided .timeline-content:nth-child(even) .remove {
  left:2px;
}
.ctl-instant-timeline .remove {
  opacity: 0;
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0;
  border: 0;
  background: #000;
  border-radius: 50%;
  color: white;
  z-index: 99;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  font-weight: 400;
  font-style: normal;
  vertical-align: top;

  &:hover {
    color: #CCC;
  }

  &:focus {
    outline: none;
  }
}
.ctl-instant-timeline .timeline-content:hover .remove {
  opacity: 1;
}

.ctl-instant-timeline.one-sided .addWhite {
  width:59%;
}
 .ctl-instant-timeline .addWhite {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    background: white;
    color: rgba(10, 24, 41, 0.7);
    cursor: pointer;
    text-align: center;

  span {
    display: block;
    margin-bottom: 5px;
  }

  &:hover {
    color: #191e23;
  }

  &:focus {
    outline: none;
  }
}
.timeline-content:hover {
  border: 1px solid black;
}
.ctl-instant-timeline .timeline-content .story-time {
margin-top: 18px;
}